header {
	margin: 0% 3%;
}

.display-3 {
	color: #fff;
}
.app-card {
	padding: 5% 0px;
	background: rgba(0, 0, 0, 0.7);
}
.app-form {
	width: 90%;
	margin: 0 auto;
}
.price-detail {
	margin-top: 10px;
}
.container input {
	margin: 0 auto;
}
.app-w {
	width: 40%;
}
body {
	background: url(img/background.jpg);
	background-position: center;
}
#calculate-btn {
	margin-top: 15px;
}

footer {
	bottom: 0;
	width: 100%;
	margin-top: 5%;
}

#calculate-btn {
	width: 100%;
}

tr:nth-child(even) {
	background: #e8e8e8;
}
tr:nth-child(odd) {
	background: #fff;
}

.responsive-width {
	font-size: 0.8vw;
}

/* Mobile */

/* Smartphones (portrait) ----------- */
@media only screen and (min-width: 320px) {
	.container {
		width: 85%;
	}
	.app-form {
		width: 84%;
	}
	.app-card {
		padding: 8% 0px;
	}
	.price-detail {
		margin-top: 8%;
	}
}

.app-form.card {
	color: hsl(0, 0%, 100%);
	background-color: hsl(210, 10%, 23%);
	border-color: hsl(210, 10%, 30%);
}

.display-3 {
	color: hsl(0, 0%, 100%);
	font-size: 3rem;
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.container {
		width: 65%;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.container {
		width: 40%;
	}
	.app-form {
		width: 90%;
	}
	.app-card {
		padding: 5% 0px;
	}
	.price-detail {
		margin-top: 5%;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/* Smartphones (portrait) -----------
@media (min-width: 600px) {
	
} */
