.display-3 {
	color: #fff;
}
.app-card {
	padding: 25px 0px;
	background: rgba(0, 0, 0, 0.7);
}
.app-form {
	width: 70%;
	margin: 0 auto;
}
.price-detail {
	margin-top: 10px;
}

.container {
	width: 50%;
}
.container input {
	margin: 0 auto;
}
.app-w {
	width: 40%;
}
body {
	background: url(img/retail-bg.jpg);
	background-position: center;
}
#calculate-btn {
	margin-top: 15px;
}